body {
  background-color: #ffffff;
}

.carousel-indicators button {
  border: 1px solid white !important;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.image {
  width: 100%;
  height: 100%;
}

header {
  max-height: 56px;
}

.page-container.contact main {
  min-height: calc(100% - 327px);
}

@media (min-width: 768px) {
  .page-container.contact main {
    min-height: calc(100% - 255px);
  }
}

@media (min-width: 1200px) {
  .page-container.contact main {
    min-height: calc(100% - 190px);
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  color: #ffffff;
}

.cardbox {
  background-color: #e6e6e6;
  display: inline;
  border: #492828;
  border-radius: 20px;
}

.courses-title {
  background-color:rgba(0,0,0,0.5);
}
.navbar, .footer{
  background-color: rgb(46, 46, 193);
}
.nav-item{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
.navfont{
  color:rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-nav{
  width:100%;
  margin-left: 0;
  margin-bottom: 0
}
.foot-item{
  color:rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
.courses_container {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.btn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.courses_container:hover .image {
  opacity: 0.3;
}

.courses_container:hover .middle {
  opacity: 1;
}

.detail {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}