.carousel-indicators button {
    border: 1px solid white !important;
}

main {
    background-color: rgb(245, 239, 231);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-custom {
    background-color: rgb(202, 206, 191) !important;
    font-family: Montserrat !important;
    font-size: larger !important;
    font-weight: bold !important;
}
.footer-bg {
    background-color: rgb(202, 206, 191) !important;
}
.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
  
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
    max-height: 56px;
}
.page-container.contact main {
    min-height: calc(100% - 327px);
}
@media (min-width: 768px) {
    .page-container.contact main {
        min-height: calc(100% - 255px);
    }
}
@media (min-width: 1200px) {
    .page-container.contact main {
        min-height: calc(100% - 190px);
    }
}