.carousel-indicators button {
  border: 1px solid white !important;
}

.image {
  width: 100%;
  height: 100%;
}

header {
  max-height: 56px;
}

.page-container.contact main {
  min-height: calc(100% - 327px);
}

@media (min-width: 768px) {
  .page-container.contact main {
    min-height: calc(100% - 255px);
  }
}

@media (min-width: 1200px) {
  .page-container.contact main {
    min-height: calc(100% - 190px);
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  color: #ffffff;
}

.cardbox {
  background-color: #e6e6e6;
  display: inline-block;
  border: #492828;
  border-radius: 20px;
  min-height: 280px;
}

.courses-title {
  background-color:rgba(0,0,0,0.5);
}

.navbar, .footer{
  background-image: linear-gradient(to right, rgb(48, 50, 163) , rgb(103, 104, 173));
}

.nav-item{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.navfont{
  color:rgb(255, 255, 255) !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px !important;
}

.navbar-nav{
  width:100%;
  margin-left: 0;
  margin-bottom: 0
}

.foot-item{
  color:rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.courses_container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.btn.detail {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255,255,255);
  border-radius: 15px;
  color:rgb(78, 100, 172);
  font-size: 16px;
  opacity: 0;
  text-align: center;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

.btn.detail:hover {
  color:rgb(48, 50, 163);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}


.courses_container:hover .btn.detail {
  opacity: 1;
}

.courses_container:hover .image {
  opacity: 0.5;
}


.courses_container:hover .middle {
  opacity: 1;
}

.login_container{
  background-color: rgb(119, 108, 108)/0.5;
  border-radius: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  backdrop-filter: blur(50px);
  box-shadow: 5px 5px 8px rgb(71, 71, 71), 15px 15px 8px rgb(187, 187, 187);
}

.img_car{
  border-top-left-radius: 20px;
}

.fade-in { animation: fadeIn 1s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-2s{
  animation: fadeIn 2s; }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-3s{
  animation: fadeIn 3s; }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-4s{
  animation: fadeIn 4s; }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-5s{
  animation: fadeIn 5s; }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.br-round{
  border-bottom-right-radius: 20px !important;
}

.bg{
  background-image: url("../media/image/background/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

td {
  border-bottom: 1px solid #424249;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

tr:hover {
  background-color: rgb(163, 166, 182);
  color: #ffffff;
}

td>a{
  color:black;
  cursor: pointer;
}

td>a:hover{
  color: #ffffff28;
  font-weight: bold;
}

.comm_btn{
  background-color: #bdbdbd;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.comm_btn:hover{
  background-color: #6b6c8a;
  color: #ffffff;
  font-size: 18px;
}

.comm_btn.active, .comm_btn:active {
  background-color: #5a5858;
  color:#ffffff;
}

.btn-courses{
  font-size: 22px;
  border-radius: 15px;
}

p{
  font-family:sans-serif;
}
.nav-link {
  color: white !important;
}
.page-container.user .form-dialog-header {
  background-image: linear-gradient(to right, rgb(48, 50, 163) , rgb(103, 104, 173)) !important;
}
.modal-2-style{
  --bs-modal-zindex: 1055;
  --bs-modal-width: 1000px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: var(--bs-body-bg);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}