<!-- Page container -->
<div class="page-container d-conditional vh-100">

  <!-- Navigate -->
  <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>

  <!-- Main -->
  <main>

    <!-- Container -->
    <div class="container pt-5">

      <!-- Row -->
      <div class="row">

        <!-- Titel -->
        <h1 class="text-center text-capitalize text-small-caps">
          {{'community' | translate:lang.data}}
        </h1>
      </div>

      <!-- Row -->
      <div class="row text-center mt-4">

        <!-- Grid -->
        <div class="col-11 col-md-10 col-xl-8 mx-auto">
          <!-- Content -->
          <p class="text-muted fs-5 fst-italic px-4 mt-3">
            {{'community_title_desc' | translate:lang.data}}
          </p>
        </div>


        <!-- Row -->
        <div class="row mt-3">
          <hr>

          <!-- Tab buttons -->
          <ul id="form-tab" class="nav nav-pills justify-content-center mt-3" role="tablist">


            <!-- Tab1 -->
            <li class="nav-item nav-item-pills mx-2" role="presentation">

              <!-- Button -->
              <button id="tab-2-tab" class="btn btn-outline-secondary active ms-2 mb-2 btn-pills-tab text-capitalize"
                data-bs-toggle="pill" data-bs-target="#tab-2" role="tab" type="button" aria-controls="tab-2"
                aria-selected="false">
                {{'teacher' | translate:lang.data}}
              </button>
            </li>

            <!-- Tab2 -->
            <li class="nav-item nav-item-pills mx-2" role="presentation">

              <!-- Button -->
              <button id="tab-3-tab" class="btn btn-outline-secondary ms-2 mb-2 btn-pills-tab text-capitalize"
                data-bs-toggle="pill" data-bs-target="#tab-3" role="tab" type="button" aria-controls="tab-3"
                aria-selected="false">
                {{'gallery' | translate:lang.data}}
              </button>
            </li>
          </ul>
        </div>

        <!-- Row -->
        <div class="row">

          <!-- Tab content -->
          <div class="tab-content">



            <!-- Tab panel -->
            <div id="tab-2" class="tab-pane fade show active p-3 text-center" role="tabpanel"
              aria-labelledby="tab-2-tab">

              <div class="col-12 col-sm-11 col-md-10 col-lg-8 mx-auto">
                <table class="table table-bordered table-striped table-sm mt-3" ng-if="teachers.length">
                  <thead class="table-dark">
                    <tr>
                      <th class="text-capitalize">#</th>
                      <th class="text-capitalize">{{'name' | translate:lang.data}}</th>
                      <th class="text-capitalize">{{'phone' | translate:lang.data}}</th>
                      <th class="text-capitalize">{{'email' | translate:lang.data}}</th>
                      <th class="text-capitalize">{{'course' | translate:lang.data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="teacher in teachers">
                      <td class="text-end">{{$index+1}}</td>
                      <td class="text-start">
                        <a data-bs-toggle="modal" data-bs-target="#my-modal-1" data-img="{{teacher.img}}"
                          data-content="{{teacher.content}}" data-full_name="{{teacher.full_name}}"
                          ng-click="teacherData($event)">
                          {{teacher.full_name}}
                        </a>
                      </td>
                      <td class="text-start">{{teacher.phone}}</td>
                      <td class="text-start">{{teacher.email}}</td>
                      <td class="text-start" 
                          ng-init="subjects=teacher.subjects.split(',')">
                        <ul>
                          <li ng-repeat="subject in subjects">
                            {{subject | translate:lang.data}}
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="mt-5">
                  <hr>
                  <h3 class="my-3"><em>{{'comm_tab_title' | translate: lang.data}}</em></h3>
                  <hr>
                  <img src="./media/image/community/1.jpg" class="img-fluid float-start me-3 rounded" alt="img">
                  <p class="text-justify">
                    {{'community_1' | translate:lang.data}}
                  </p>
                  <hr>
                  <img src="./media/image/community/2.jpg" class="img-fluid float-end ms-3 rounded" alt="img">
                  <p class="text-justify">
                    {{'community_2' | translate:lang.data}}
                  </p>
                  <hr>
                  <img src="./media/image/community/3.jpg" class="img-fluid float-start me-3 rounded" alt="img">
                  <p class="text-justify">
                    {{'community_3' | translate:lang.data}}
                  </p>
                </div>
              </div>
            </div>

            <!-- Tab2 panel -->
            <div id="tab-3" class="tab-pane fade p-3 text-center" role="tabpanel" aria-labelledby="tab-3-tab">

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                  <img src="./media/image/community/g1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="img">

                  <img src="./media/image/community/g2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="img">
                  <img src="./media/image/community/g3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="img">
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                  <img src="./media/image/community/g4.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="img">
                  <img src="./media/image/community/g5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="img">
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                  <img src="./media/image/community/g6.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="img">
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Modal -->
  <div id="my-modal-1" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{teacherFull_name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img ng-src="./media/image/teacher/{{teacherImg}}" class="d-block w-100" alt="img">
          <p>{{teacherContent | translate:lang.data}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{'close' |
            translate:lang.data}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer ng-include src="'./html/footer.html'"></footer>
</div>