<!-- Page container -->
<div class="page-container d-conditional min-vh-100">

    <!-- Navigate -->
    <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>
  
    <!-- Main -->
    <main>
  
      <!-- Container -->
      <div class="container pt-5">
  
        <!-- Row -->
        <div class="row">
  
          <!-- Titel -->
          <div class="row mb-5">
            <h1 class="text-center text-capitalize text-small-caps ng-binding">
              {{'contact_title' | translate:lang.data}}
            </h1>
            <hr class="mt-5 ">
          </div>
        </div>
      </div>

      <div class=" container formcontainer">
        
        <form method="post">
              
          <input type="text" name="subject" class="form-control" placeholder="{{'contact_subject' | translate:lang.data}}" ng-model="formData.subject">
              
          <input type="email" name="email" class="form-control" placeholder="{{'contact_email' | translate:lang.data}}" ng-model="formData.email">
           
          <textarea  rows="5" cols="50" class="form-control" placeholder="{{'contact_message' | translate:lang.data}}" ng-model="formData.message"></textarea>
             
          <button type="submit" ng-click="processForm()" class="btn btn-success btn-lg btn-block">{{'contact_submit' | translate: lang.data}}</button>
        </form>
      </div>
    </main>
    <!-- Footer -->
    <footer ng-include src="'./html/footer.html'"></footer>
</div>